/* Always-visible URL bar */

#wrapper-urlbar-container,
#urlbar-container{
  flex-grow: 1 !important;
  width: auto !important;
  max-width: none !important;
}

#urlbar{
  width: 100% !important;
  contain: none !important;
}

#urlbar-input{
  opacity: 1 !important;
}

.urlbar-input-container{
  opacity: 1 !important;
  background-image: none !important;
}

#urlbar:focus-within{
  width: 100% !important;
  inset-inline: auto !important;
}