/* Firefox Alphaz v 1.2.1 */
/* Source: https://github.com/Tagggar/Firefox-Alpha/ */

/*** When right-clicking on... ***/
@import url("./simpleMenuWizard/blank-context.css");      /* ...a blank area on a webpage                      */
@import url("./simpleMenuWizard/frame-context.css");      /* ...an iframe                                      */
@import url("./simpleMenuWizard/image-context.css");      /* ...an image                                       */
@import url("./simpleMenuWizard/input-context.css");      /* ...an input-field                                 */
@import url("./simpleMenuWizard/link-context.css");       /* ...a link                                         */
@import url("./simpleMenuWizard/main-hamburger.css");     /* Leftclick on the hamburger menu on top right      */
@import url("./simpleMenuWizard/media-context.css");      /* ...media like audio or html5 video                */
@import url("./simpleMenuWizard/main-menubar.css");       /* Leftclick on the main menubar (open with ALT key) */
@import url("./simpleMenuWizard/newtab-containers.css");  /* ...the plus sign to open a new tab or container   */
@import url("./simpleMenuWizard/select-context.css");     /* ...selected text or selected object               */
@import url("./simpleMenuWizard/sidebar-context.css");    /* ...items in bookmarks- or history sidebar         */
@import url("./simpleMenuWizard/sidebar-header.css");     /* Leftclick on the sidebar header                   */
@import url("./simpleMenuWizard/source-context.css");     /* ...a blank area when viewing source code          */
@import url("./simpleMenuWizard/tab-context.css");        /* ...a tab                                          */
@import url("./simpleMenuWizard/toolbar-context.css");    /* ...the toolbar or tabbar                          */
@import url("./simpleMenuWizard/urlbar-context.css");     /* ...the addressbar                                 */
@import url('urlbar.css');
@import url('popup-search.css');
* {font-family: "Google Sans Text" !important;}

:root {
  --6: 6px;
  --8: 8px;
  --tab-min-height: 28px !important;
  --tab-min-width: 28px !important;
  --toolbarbutton-border-radius: var(--8) !important;
  --tab-border-radius: var(--8) !important;#TabsToolbar {
  }
  --main: #77777770;
  --item: #77777730;
  --grey: #b8b8b8;
  --red: #ff000070;
  
  --toolbarbutton-hover-background: transparent !important;
  --toolbarbutton-active-background: transparent !important;
}

/* Clean UI */
* {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Highlight Selection color */
::selection {
  background-color: dodgerblue !important;
  color: white !important;
}

/* Customization Panel Fix */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow {
  margin-inline-end: initial !important;
}

/* Video Background Fix */
video {
  background-color: black !important;
}

/* ❌ Hide Items ❌ */
/* ❌ Tooltips ❌ */
/* tooltip, */

/* ❌ Empty Space */
/* spacer,.titlebar-spacer, */

/* ❌ Tab List */
#alltabs-button,

/* ❌ Extensions Menu */
/* #unified-extensions-button, */

/* ❌ #PanelUI-button */
#PanelUI-menu-button,

/* ❌ Titlebar Window Controls */
.titlebar-buttonbox-container,

/* ❌ Navigation Buttons */
#back-button, #forward-button, #reload-button, #stop-reload-button,

/* ❌ Menu Icons __ menuitem > .menu-iconic-left, */
 menu > .menu-iconic-left, .menu-right,

/* ❌ Menu Separator */
menuseparator, toolbarseparator,

/* ❌ Menu Disabled */
menuitem[disabled], menu[disabled],

/* ❌ Overflow Icon */
#nav-bar-overflow-button,

/* ❌ url-bar Icons */
#urlbar-zoom-button, 
/* #tracking-protection-icon-container, #identity-box, #identity-box-button, #urlbar .urlbar-input-container .urlbar-go-button, */

/* ❌ Bookmark Folder Icons */
#PlacesToolbar .bookmark-item:not([label=""]) > .toolbarbutton-icon,

/* ❌ Bookmarks [>] Button */
#PlacesChevron,

/* ❌ Tab Icon Overlay */
.tab-icon-overlay,

/* ❌ Tab Mute Icon */
.tab-icon-sound-label,
.tab-icon-overlay:not([muted]):is([soundplaying]),

/* ❌ Tab Pinned Text */
.tab-label-container[pinned], #tab-label-container,

/* ❌ New Tab logo */
.tabbrowser-tab[label="New Tab"] .tab-icon-image,

/* ❌ Findbar Checkboxes */
/* .findbar-container > checkbox, */

/* ❌ Menu Icons */
#contentAreaContextMenu > menuitem > .menu-iconic-left,
#context-navigation > menuitem > .menu-iconic-left,

/* ❌ Downloads Icons */
.downloadTypeIcon,
#downloads-button > .toolbarbutton-badge-stack > .toolbarbutton-badge,
:root:not([customizing]) #downloads-indicator-icon,
#downloads-indicator-start-box, #downloads-indicator-start-image > *,
#downloads-indicator-finish-box, #downloads-indicator-finish-image > *, 

/* ❌ Private Indicator */
.private-browsing-indicator {
  display: none !important;
  -moz-user-focus: none;
}

/* #urlbar:not([breakout][breakout-extend]){
 #urlbar #urlbar-input #page-action-buttons {
   opacity: 0 !important;
   -moz-user-focus: none;
 }
} */

/* 🔗 Status Panel [Url Popup] */
#statuspanel #statuspanel-label {
/*  font-weight: 600 !important; */
  padding-inline: var(--6) !important;
  border-radius: var(--6) !important;
  margin: var(--8) !important;
/*  background-color: blue !important; */
}

/* ℹ️ Findbar Ctrl+F */
findbar {
  padding: 0 !important;
  margin-inline-start: var(--8) !important;
  margin-block-end: var(--8) !important;
  border-radius: var(--8) !important;
  width: 240px;
  background: var(--grey) !important;
  order: -1;
}
.findbar-container {
  padding: 0 !important;
  margin: 0 !important;
  height: var(--tab-min-height) !important;
}
.findbar-textbox {
  width: 168px !important;
  padding-inline: var(--6) !important;
  height: var(--tab-min-height) !important;
  color: black !important;
  background: none !important;
}
findbar toolbarbutton {
  width: 24px;
  padding: 4px !important;
  margin: 0 !important;
  background: none !important;
  fill: black !important;
  scale: 0.7;
}

/* *️⃣ Menu *️⃣ */
/* *️⃣ Toolbar Menu Alt */
#toolbar-menubar[autohide="true"][inactive="true"] {
  height: 0 !important;
  margin: 0 !important;
}

#toolbar-menubar {
  min-height: 24px !important;
  border-radius: var(--6);
  background-color: var(--sidebar-border-color) !important;
  position: relative;
  margin-inline: 9px !important;
  margin-block: 6px 2px !important; 
  z-index: 3;
  transition: 0.3s ease !important;
}

#toolbar-menubar {
  &[autohide="true"] {
    :root[tabsintitlebar] #navigator-toolbox:not([tabs-hidden]) > & {
      min-height: 0px !important;
    }
  }
}


/* *️⃣ Toolbar Menu Item */
menu[_moz-menuactive="true"]:not([disabled="true"]),
menucaption[_moz-menuactive="true"]:not([disabled="true"]) {
  background-color: var(--main) !important;
  border-radius: 4px !important;
}

#main-menubar {
  margin: 2px !important;
  padding: 2px !important;
  background-color: none;
  color: black;
  height: 22px !important;
}

/* *️⃣ Menu Popup Box */
.menupopup-arrowscrollbox {
  border-radius: var(--8) !important;
  padding: var(--6) !important;
  background-color: var(--grey) !important;
  color: black !important;
}

/* Menu Position */
menupopup {
  margin: var(--6) 0 !important;
}

#main-menubar menupopup {
    margin: var(--6) var(--8) 0 -6px !important;
}

menupopup > menuitem,
menupopup > menu {
  appearance: none !important;
  max-height: 20px !important;
  min-height: 20px !important;
  border-radius: var(--6) !important;
  padding-inline: var(--6) !important;
  margin: 0 !important;

}
.menu-accel {
  margin-inline: var(--6) 0 !important;
}

/* ⬅️➡️🔄️ Context Nav Text Buttons*/
menupopup > menuitem[_moz-menuactive],
menupopup > menu[_moz-menuactive] {
  background-color: var(--main) !important;
  color: black !important;  
}
#context-saveimage {
 display: flex !important;
}

#context-navigation {
  flex-direction: column !important;
}
#context-navigation > menuitem::before {
  content: attr(aria-label);
}
#context-navigation > menuitem {
  justify-content: start !important;
  border-radius: var(--6) !important;
  padding-inline: var(--6) !important;
  padding-block: 2px !important;
  height: 20px !important;
  width: 100% !important;
}

/* EXPERIMENTS */
 .titlebar-spacer[type="pre-tabs"] {
  width: 0px !important;
} 
 .titlebar-spacer[type="post-tabs"] {
  width: 2px !important;
}
/* .tabbrowser-tab:first-of-type { 
  padding-left: 7px !important;
} */

#nav-bar {
  background-color: transparent !important;
  margin: -22px 0 0 0 !important;
}

#nav-bar-customization-target {
   justify-content: right;
   }

/* ❎ Tabs Multi-row ❎ */

scrollbox[part][orient="horizontal"] > slot,
scrollbox[part][orient="horizontal"] {
    display: flex;
    flex-wrap: wrap !important;
    height: none !important;
}
scrollbox[part][orient="horizontal"] > slot{
    overflow-x: hidden;
}

#tabbrowser-tabs > * {
  padding: 4px 0px 0px 4px !important;
  margin: 3px !important;
}

tab {
  margin: 0 4px 0 0 !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 130px !important;
  min-width: 80px !important;
}
.tabbrowser-tab .tab-background:not([selected]) {
  background: var(--item) !important;
  opacity: 80%;
}
.tab-label-container:not([selected]) {
  opacity: 0.5 !important;
}
.tab-context-line{
  display: none !important;
}
.tab-content {
  padding-inline: var(--6) !important;
}

/* Tabs [Selected] */
 .tabbrowser-tab[selected="true"]:not([pinned]) {
  min-width: 180px !important;
}
.tabbrowser-tab .tab-background[selected="true"] {
  background: var(--main) !important;
}
#tabbrowser-tabs {
  & .tabbrowser-tab { 
    &[selected] .tab-background {
      border-right: 3px solid var(--identity-icon-color) !important;
    }
  }
}

/* Tabs [Pinned] */
.tabbrowser-tab[pinned="true"]:not([selected=true]) {
  width: calc(30px + var(--8) - 4px) !important;
}
.tabbrowser-tab[selected="true"][pinned="true"] {
  width: calc(30px + var(--8) - 4px) !important;
}

/* Tabs Audio */
#tabbrowser-tabs .tabbrowser-tab:is([soundplaying]) .tab-background {
  background-color: var(--red) !important;
  transition: background-color 0.1s ease !important;
}

/* Tabs Audio Favicon */
.tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted])
  > :not(.tab-icon-overlay) {
  opacity: 1 !important;
}

/* Tab Close on hover */
tab:not([pinned]):hover .tab-close-button {
  display: flex !important;
}
.tab-close-button {
  margin: -5px !important;
  background-color: transparent !important;
  opacity: 0 !important;
  transition: 0.1s ease;
}
.tabbrowser-tab:hover { 
  .tab-close-button:not(:hover) {
    opacity: 0.4 !important;
  }
}
.tab-close-button:hover {
    opacity: 1 !important;
}

/* New Tab by MMB on Tabs Toolbar  */
#tabs-newtab-button,
#tabbrowser-arrowscrollbox-periphery {
  flex: 1;
  align-items: stretch !important;
  opacity: 0 !important;
  padding-inline: 8px !important;
  -moz-window-dragging: drag !important;
}

/* 🪟 Bookmarks Multi-row  */
:root[BookmarksToolbarOverlapsBrowser] :where(#PersonalToolbar) {
  height: unset !important;
}
#PersonalToolbar {
  padding: 0px 0px 0px 4px !important;
  margin: 0 !important;
  max-height: none !important;
  background-color: transparent !important;
}

#PlacesToolbarItems {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--6);
}
#PlacesToolbarItems > .bookmark-item {
  margin: 0 var(--8) var(--8) 0 !important;
  padding: 0 var(--6) !important;
  background: var(--item) !important;
  opacity: 0.3;
  height: var(--tab-min-height);
  transition: 0.3s ease;
}
#PlacesToolbarItems > .bookmark-item:hover {
  opacity: 1 !important;
}
#OtherBookmarks {
  opacity: 0;
  transition: 0.3s ease;
}
#OtherBookmarks:hover {
  opacity: 1;
}





/* 🪟 Drag Window from urlbar */
/* .urlbar-input-box,
#urlbar-input,
#urlbar-scheme,
#urlbar-container {
  -moz-window-dragging: drag;
  cursor: default;
} */


#unified-extensions-button {
  opacity: 0% !important;
  padding-inline-end: 5px !important;
  transition: 0.3s ease;
}
#unified-extensions-button:hover {
   opacity: 100% !important;
   }

/* ⬇️ Downloads Indicator */
#downloads-button {
  position: fixed ;
  top: 0;
  right: 0;
  width: var(--tab-min-height);
  z-index: 1;
}
#downloads-indicator-progress-outer {
  position: fixed !important;
  align-items: end !important;
  top: var(--8) !important;
  right: var(--8) !important;
  left: auto !important;
  width: var(--6) !important;
  height: var(--tab-min-height) !important;
  border-radius: var(--6) !important;
  background: var(--item);
  visibility: visible !important;
}
#downloads-indicator-progress-inner {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='24' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='6' height='24' fill='dodgerblue'/%3e%3c/svg%3e") bottom no-repeat !important;
  height: var(--download-progress-pcent) !important;
  border-radius: var(--6) !important;
}
#downloads-button[attention="success"] #downloads-indicator-progress-outer {
  background: deepskyblue !important;
}
#downloads-button:is([attention="warning"], [attention="severe"])
  #downloads-indicator-progress-inner {
  background: orange !important;
  height: var(--8) !important;
}

/* ⬇️ Downloads Panel */
#downloadsPanel {
  position: fixed !important;
  margin: 4px var(--6) !important;
  border-radius: var(--6) !important;
}
#downloadsPanel-mainView {
  background-color: var(--grey) !important;
  color: black;
  padding: var(--6) !important;
}
#downloadsFooterButtons > button,
#downloadsListBox > richlistitem {
  min-height: var(--tab-min-height) !important;
  padding: 0 0 0 var(--6) !important;
  margin: 0 !important;
  border-radius: var(--6) !important;
}
#downloadsListBox > richlistitem * {
  padding: 0 !important;
  margin: 0 !important;
  padding-block: 0 !important;
  border-radius: var(--6) !important;
}
#downloadsListBox > richlistitem > .downloadMainArea {
  margin-inline-end: var(--8) !important;
}

/* Search Suggestions Fix*/
#urlbar-container #urlbar-input-container {
  opacity: 0;
}
#urlbar:is([focused], [open]) > #urlbar-background, #searchbar:focus-within {
  background-color: var(--lwt-accent-color) !important;
}
.urlbarView {
  background-color: var(--lwt-accent-color) !important; /* Pop-up background color (adaptive) */
/*  color: grey;                           Pop-up text color */
}

/*  Clean and tight extensions menu */
#unified-extensions-panel #unified-extensions-view {
    width: 100% !important;  /*  For firefox v115.x */
}

#unified-extensions-view{
    --uei-icon-size: 16px; /*  Change icon size */
    --firefoxcss-number-of-extensions-in-a-row: 4; /*  Increase to the number of icons you want in one row */
}

#unified-extensions-view:before{
  content: "Extensions";
  text-align: left !important;
  font-weight: bold !important;
  padding-top: 9px !important;
  padding-bottom: 4px !important;
  padding-left: 14px !important;
  }

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header .panel-header-icon,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-icon,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents{
    visibility: collapse !important;
}

#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-text {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    }

#unified-extensions-view .panel-subview-body {
    padding: 2px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list{
     max-width: max-content;
     max-height: max-content;
}

#unified-extensions-view #unified-extensions-area {
/*     padding-top: 0px !important; */
/*     padding-bottom: 0px !important; */
/*     border-bottom: 0px solid #aeaeae33 !important; */
}

#unified-extensions-view .unified-extensions-list {
/*     border-top: 1px solid #aeaeae33 !important; */
}

#wrapper-edit-controls:is([place="palette"], 
[place="panel"]) > #edit-controls, #wrapper-zoom-controls:is([place="palette"], 
[place="panel"]) > #zoom-controls, :is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
  margin: 5px !important;
}
